body{
	padding: 0;
	margin: 0;
	background: #fff7e7;
}
body, p, li{
  font-family: "Raleway", sans-serif;
/*  font-family: "Poller One", cursive;
  font-family: "Covered By Your Grace", cursive;*/
}
h3{
	color: #ce4f00;
}
nav{
	position: relative;
	z-index: 3;
}
.panel{
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	transition: all ease .5s;
}
.panel.active{
	z-index: 1;
	opacity: 1;
}
content{
	display:block;
	margin: 60px auto 0;
	max-width: 1000px;
	padding: 15px;
}

nav ul{
	text-align: center;
	padding: 0;
	margin: 0;
}
nav ul li{
	display: inline-block;
	margin: 10px 20px;
}
a.link{
	text-decoration: none;
	color:#000;
}

/*homepage animations*/
#black-screen{
	background: #000;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}
#hi{
	z-index:6;
}
.intro{
	font-size: 40px;
	text-align: center;
}
.intro h2 {
	font-family: "Poller One", cursive;
	font-size: 20vw;
	font-weight: bold;
	padding-top: 60px;
	color: #ce4f00;
	text-align: center;
	margin-bottom: 0px;
	margin-top:-50px;
	position: relative;
	opacity: 0;
	transition: all ease 3s;
}
.intro h2.bringIn {
	margin-top: 50px;
	opacity: 1;
}
.video-background {
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
    display: block;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.fa-heart{
	color:#ce4f00;
}
.intro p{
	margin-top: 0;
}
#coding-history{
	font-weight: bold;
	color: #ce4f00;
}
#project-list{
	padding: 0;
	margin: 0;
	text-align: center;
}
#project-list li{
	display:inline-block;
	width: 100%;
	margin: 10px;
}

#project-list li .header,
#project-list li .projectFooter{
	padding: 5px;
}
#project-list li .projectFooter a{
	text-decoration: none;
	display:inline-block;
	margin: 0 5px;
}

#project-list li .description {
    height: 100px;
}

ul.skills{
	margin:0 0 20px;
	padding: 0;
	text-align: center;
}
li.filter{
	display:inline-block;
	margin: 0 10px;
	padding: 0 10px 5px;
	font-weight: bold;
	cursor: pointer;
	color:#9c9c9c;
	transition: all ease .5s;
	border-bottom: 3px solid #fff7e7;
}
li.filter.active-filter, li.filter:hover{
	color:#ce4f00;
	border-bottom: 3px solid #ce4f00;
}

li.react{
	background: #61dafb;
	color: #20232a;
}
li.react .header{
	background: #20232a;
	color: #61dafb;
}
li.react .projectFooter{
	background: #20232a;
	color: #61dafb;
}
li.react .projectFooter a{
	color: #61dafb;
}
li.react h3{
	color: #20232a;
}


li.angular{
	background: #fff;
	color: #c3002f;
}
li.angular .header{
	background: #358ee1;
	color: #fff;
}
li.angular .projectFooter{
	background: #358ee1;
	color: #fff;
}
li.angular .projectFooter a{
	color: #fff;
}
li.vanilla h3{
	color: #c3002f;
}


li.jquery{
	background: #78cff5;
	color: #0769ad;
}
li.jquery .header{
	background: #0769ad;
	color: #fff;
}
li.jquery .projectFooter{
	background: #0769ad;
	color: #78cff5;
}
li.jquery .projectFooter a{
	color: #78cff5;
}
li.jquery h3{
	color: #0769ad;
}


li.wordpress{
	background: #fff;
	color: #20232a;
}
li.wordpress .header{
	background: #21759b;
	color: #fff;
}
li.wordpress .projectFooter{
	background: #21759b;
	color: #fff;
}
li.wordpress .projectFooter a{
	color: #fff;
}
li.wordpress h3{
	color: #21759b;
}


li.vanilla{
	color: #9435cf;
	background:#e9dcf1;
}
li.vanilla .header{
	background: #9435cf;
	color: #fff;
}
li.vanilla .projectFooter{
	background: #9435cf;
	color: #e9dcf1;
}
li.vanilla .projectFooter a{
	color: #e9dcf1;
}
li.vanilla h3{
	color: #9435cf;
}

.about-text{
	width: 55%;
	float:left;
}

.skill-column{
	width: 20%;
	float:left;
	box-sizing: border-box;
	padding-left: 10px;
	margin: 0;
}
.skill-column li{
	list-style: none;
	color: #ce4f00;
	font-weight: bold;
}
.skill-column li ul{
	padding-left: 20px;
}
.skill-column li ul li{
	color:#555;
	font-weight: normal;
	list-style: square;
	margin: 5px 0;
}
.hidden-text {
    opacity: 0;
    margin-top: -50px;
    display: block;
    font-size: 16px;
    font-family: "Covered By Your Grace", cursive;
    transition: all 1.5s ease;
}
.hidden-text.bringIn {
    opacity: 1;
    margin-top: 10px;
    font-size: 24px;
    white-space: nowrap;
}

video{
	min-height: 100vh;
	min-width: 100%;
	opacity: 0;
	transition: all ease 3s;
}
video.bringIn{
	opacity: 1;
}

@media screen and (min-width: 600px){
	#project-list li{
		width: 250px;
	}
	.intro h2 {
	    color: #ce4f00;
	    font-size: 90px;
	}
	.hidden-text.bringIn {
    color: #000;
    font-size: 25px;
}
.hidden-text {
    color: #000;
    font-size: 25px;
}
.intro{
	font-size: 60px;
	text-align: center;
}
}

